<!doctype html>
{% load static %}
{% load humanize %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Calendar</title>

    <!-- 제이쿼리 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- 테일윈드 -->
    <link rel="stylesheet" href="{% static 'tailwind.output.css' %}">


    <!-- bootstrap5 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- common.css -->
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <!-- common.js -->
    <script defer src="{% static 'common.js' %}"></script>

</head>
<body class="t-min-h-screen t-flex t-flex-col t-pt-[56px]">

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}  t-my-[0px]">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top t-bg-purple-300">
        <div class="container">
            <a class="navbar-brand" href="{% url 'main' %}"><i class="fas fa-child"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link t-whitespace-nowrap" href="#"><i class="fas fa-tshirt"></i>게시판</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link t-whitespace-nowrap"><i class="fas fa-shopping-cart"></i>상점</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link t-whitespace-nowrap" href="{% url 'accounts:signout' %}"><i
                                class="fas fa-sign-out-alt"></i>로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link t-whitespace-nowrap">
                            <i class="fas fa-user"></i>
                            {{ user.first_name }}
                            {% if user.profile_img %}
                            <img src="{{ user.profile_img.url }}"
                                 style="width:24px; height:24px; object-fit:cover; border-radius:50%; display:inline-block;"/>
                            {% else %}
                            <img src="{% url 'pydenticon_image' user.username %}"
                                 style="width:24px; display:inline-block;border-radius:50%; "/>
                            {% endif %}
                        </a>
                    </li>

                    {% else %}
                    <li class="nav-item t-whitespace-nowrap">
                        <a class="nav-link" href="{% url 'accounts:signin' %}"><i class="fas fa-sign-in-alt"></i>로그인</a>
                    </li>
                    <li class="nav-item t-whitespace-nowrap">
                        <a class="nav-link" href="{% url 'accounts:signup' %}"><i class="fas fa-user-plus"></i>회원가입</a>
                    </li>
                    <li class="nav-item t-whitespace-nowrap">
                        <a class="nav-link" href="{% url 'accounts:find_username' %}"><i class="fas fa-users"></i>아이디 찾기</a>
                    </li>
                    {% endif %}

                </ul>


            </div>
        </div>
    </nav>
</header>

{% block content %}
{% endblock %}


<footer class="footer py-3 bg-light">
    <div class="t-text-center">내 할일은 내가 해</div>
</footer>
</body>
</html>