{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}

<section class="section-signup t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4 t-text-center">
        <div class="card-header">비밀번호 변경</div>
        <div class="car-body t-bg-gray-100">
            {% if error_message %}
                    {{ error_message }}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                {% bootstrap_button button_type="submit" content="변경" %}
                {% bootstrap_button button_type="reset" content="취소" %}
            </form>
        </div>
    </div>
</section>


{% endblock %}