{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}

<section class="section-signup t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header"><i class="fas fa-users"></i> 아이디찾기</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-users"></i> 아이디찾기</button>
                <a href="{% url 'main' %}" class="btn btn-outline-primary">취소</a>

            </form>
        </div>
    </div>
</section>



{% endblock %}