{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}


{% block title %}Forgot Your Password?{% endblock %}

{% block content %}


<section class="section-signin t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">
            <h5>비밀번호 변경</h5>
        </div>
        <div class="card-body t-bg-gray-200">
            <p>이메일을 입력하시면 도움을 드리겠습니다.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" onclick="goData()" class="btn btn-primary" value="보내기">
            </form>
        </div>
    </div>
</section>
{% endblock %}