{% extends "layout.html" %}
{% load django_bootstrap5 %}



{% block content%}

<section class="section-login t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">
            <h5 class="t-pt-2">비밀번호 변경이 완료</h5>
        </div>
        <div class="card-body">
            비밀번호 변경이 완료되었습니다 로그인해주세요
            <br>
            <br>
            <a href="{% url 'accounts:signin' %}" class="btn btn-primary">로그인하기</a>
            <a href="{% url 'main' %}" class="btn btn-primary">메인으로</a>
        </div>

    </div>
</section>
{% endblock%}