{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block content %}

{% if validlink %}

<section class="section-signin t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">비밀번호 변경</div>
        <div class="card-body">

            <p>{% translate "정확한 비밀번호 입력 확인을 위해 두번 씩 입력해주시기 바랍니다." %}</p>

            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <input class="t-hidden" autocomplete="username" value="{{ form.user.get_username }}">
                    <div class="form-row field-password1 t-flex">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        <div class="t-border t-ml-2">
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <br>
                    <div class="form-row field-password2 t-flex">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        <div class="t-border t-ml-2">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="{% translate '변경' %}" class="btn btn-primary" onclick="main">

                </fieldset>
            </form>
        </div>
    </div>
</section>
{% else %}
<section class="section-signin t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">링크 사용 만료</div>
        <div class="card-body">
            <p>{% translate "해당 링크의 사용이 만료되었습니다." %}</p><a href="{% url 'main' %}" class="btn btn-primary">메인으로</a>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}