{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}

<script>

        function goData(){
            var form = document.getElementById("frm");
            form.email.value = form.google_id.value+"@gmail.com";
            form.submit();
        }


</script>
<form id="frm" method="post" class="sign-in-form">
    {%csrf_token%}
    <div class="container">
        <div>
            이메일
            <input type="text" class="form-control" placeholder="이메일"
                   id="google_id"
                   name="google_id"
                   required
                   autofocus>

            <input type="hidden" class="form-control"
                   id="email"
                   name="{{ form.email.html_name }}"
                   required>
        </div>
        <div>
            <br>
            <button type="button" onclick="goData()" class="form-control btn btn-primary">이메일 발송</button>
        </div>
    </div>
</form>

{% endblock %}