{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}


<section class=" t-flex-auto t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header t-flex">
            <h3 class="t-w-[90%]">회원정보</h3>
            <a href="{% url 'accounts:update' %}" class="t-whitespace-nowrap btn btn-secondary">
                <i class="fas fa-user-cog"></i>정보수정
            </a>

        </div>
        <div class="card-body">
            <div class="t-flex-auto t-flex">
                {% if user.profile_img %}
                <div class="t-flex t-w-[20%] t-content-center">
                    <img src="{{ user.profile_img.url }}"
                         style="width:100px; height:100px; object-fit:cover; border-radius:50%; display:inline-block;">
                </div>

                {% else %}
                <div class="">
                    <div class="t-flex t-w-[100%] t-content-center">
                        <img src="{% url 'pydenticon_image' user.username %}"
                             style="width:100px; height:100px; object-fit:cover; border-radius:50%; display:inline-block;">
                    </div>
                </div>
                {% endif %}
                <div class="t-flex-col t-pl-12">
                    <div class="t-flex">
                        <h2>성명 :&nbsp;</h2>
                        <h4>{{ user.name }}</h4>
                    </div>
                    <br>
                    <div class="t-flex">
                        <h2>이메일 :&nbsp;</h2>
                        <h4>{{ user.email }}</h4>
                    </div>

                    <div class="t-flex">
                        <h2>성별 :&nbsp;</h2>
                        <h4>{{ user.gender }}</h4>
                    </div>
                </div>

            </div>
        </div>
</section>


{% endblock %}