{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}




    <section class="section-signin t-flex-1 t-flex t-items-center t-justify-center">
        <div class="card t-w-full t-max-w-screen-md mx-4">
            <div class="card-header">비밀번호 변경</div>
            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="찾기" %}

                </form>
                <a href="{% url 'main' %}">메인 페이지로</a>
            </div>
        </div>
    </section>

{% endblock%}