{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}

<section class="section-signup t-flex t-items-center t-justify-center t-pt-[24px]">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header"><i class="fas fa-user-plus"></i> 회원가입</div>
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" content="회원가입" class="btn btn-primary"><i class="fas fa-user-plus"></i> 회원가입</button>

                <a href="{% url 'main'%}" class="btn btn-outline-primary">취소</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}