{% extends "layout.html" %}
{% load django_bootstrap5 %}


{% block content %}


<section class="section-signup t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">회원정보 수정</div>

        <div class="car-body t-bg-gray-100">
            <form method="POST" enctype="multipart/form-data">
            <div class="id_box">
                <span>아이디 : {{ request.user.username }}</span>
            </div>
            <a class="btn btn-success" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
            <br>
            {% if error_message %}
            {{ error_message }}
            {% endif %}



                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                {% bootstrap_button button_type="submit" content="변경" %}

            </form>
        </div>
    </div>
</section>

{% endblock %}




