{% extends "layout.html" %}


{% block content %}


<div class=" main-container t-mt-2 t-pt-0 t-pr-0 t-pl-0 t-w-full t-h-full  t-bg-[url(https://user-images.githubusercontent.com/92343879/150265727-f1d98d31-62f9-4313-bed9-4aa417ecdc58.jpg)]">

    <div>
        <h2 class="t-text-red-400">스티븐 코비 [성공하는 사람들의 7가지 습관 ]</h2>
        <span>

1 . 사람은 급하고 중요한 일을 처리하는데 대부분의 시간을 보낸다<br>
<br>
2. 급하지도 않고 중요하지도 않은 일에는 최소한의 관심을 준다<br>
	게임 ,쇼핑,TV보기 등등<br>
<br>
3. 급하지 않지만 중요한일은 예를들어, 본인의 성장을 위한 자기계발<br>
	그 과정이 힘들고 어려워서 안하게 된다.<br>
4. 3번의 일은 길게봤을 때 무조건 긍정적은 영향을 준다<br>
	노력하는 과정은 경험으로 남는다 .<br>





1. 추진력<br>
<br>
2. 현재 자신에게(=가족에게) 무엇이 중요한 일이고 덜 중요한 일인가? 가치 판단<br>
<br>
3. 전체 일 스케줄링 시 긴급하지 않지만 중요한 일을 위한 시간을 무조건 할당할 것<br>
        </span>
    </div>
    <div class="main-container-cover"
         style="position: absolute; background-color: rgba(0, 0, 0, 0.4); z-index: 1 ;"></div>

</div>


{% endblock %}