{% extends "layout.html" %}


{% block content %}


<div class="container t-flex">
    <div name="left-bar" class="t-w-[200px] t-h-[400px] t-bg-red-300">
        <div class="">
            {% if user.is_authenticated %}
            {{ user.name }}
            {% if user.profile_img %}
            <img src="{{ user.profile_img.url }}"
                 style="width:24px; height:24px; object-fit:cover; border-radius:50%; display:inline-block;"/>
            {% else %}
            <img src="{% url 'pydenticon_image' user.username %}"
                 style="width:24px; display:inline-block;border-radius:50%; "/>
            {% endif %}

            {% else %}
            <div>로그인하세요</div>
            {% endif %}
        </div>
        <div class="">todolist</div>
    </div>
    <table id="calendar" class="">
        <thead class="">
        <tr class="">
            <th class=""><input name="preMon" type="button" value="<"></th>
            <th colspan="5" class="year_mon t-text-center"></th>
            <th><input name="nextMon" type="button" value=">"></th>
        </tr>
        <tr>
            <th class="t-text-center">일</th>
            <th class="t-text-center">월</th>
            <th class="t-text-center">화</th>
            <th class="t-text-center">수</th>
            <th class="t-text-center">목</th>
            <th class="t-text-center">금</th>
            <th class="t-text-center">토</th>
        </tr>
        </thead>
        <tbody class="">
        </tbody>
    </table>
    <div class="t-flex t-w-[20%] t-bg-red-500 t-h-[50px]">
        <form>
            <span id="date"></span>
        </form>
    </div>
</div>


{% endblock %}