{% extends "layout.html" %}




{% block content %}



<div class="container t-mt-14 t-flex">
    <div name="left-bar" class="t-mt-14 t-w-[200px] t-h-[400px] t-bg-red-300">
        <div class="t-w-[200px] t-h-[130px]">프로필</div>
        <div class="t-w-[200px] t-h-[270px]">todolist</div>
    </div>
    <table id="calendar" class="">
        <thead class="">
        <tr class="">
            <th class=""><input name="preMon" type="button" value="<"></th>
            <th colspan="5" class="year_mon t-text-center"></th>
            <th><input name="nextMon" type="button" value=">"></th>
        </tr>
        <tr>
            <th class="t-text-center">일</th>
            <th class="t-text-center">월</th>
            <th class="t-text-center">화</th>
            <th class="t-text-center">수</th>
            <th class="t-text-center">목</th>
            <th class="t-text-center">금</th>
            <th class="t-text-center">토</th>
        </tr>
        </thead>
        <tbody class="">
        </tbody>
    </table>
    <div class="t-flex t-w-[20%] t-bg-red-500 t-h-[50px]">
        <form>
            <span id="date"></span>
        </form>
    </div>
</div>




{% endblock %}