{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block content %}

<div>
  <input type="checkbox" class="form-1__checkbox-all">
</div>
<hr>
<section>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
  <nav><input type="checkbox" class="form-1__checkbox-item"></nav>
</section>

{% endblock %}