{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block content %}


<div class="test-con1">
    <div class="t-flex">
        <div class="t-bg-red-100">text1</div>
        <div class="t-bg-red-200">img1</div>
    </div>
    <div class="t-flex">
        <div class="t-bg-red-300">img2</div>
        <div class="t-bg-red-400">text2</div>

    </div>
    <div class="t-flex">
        <div class="t-bg-red-500">bt-text1</div>
        <div class="t-bg-red-700">bt-text2</div>
    </div>
    <div class="t-flex">
        <div class="t-bg-red-300">bt-text3</div>
        <div class="t-bg-red-200">bt-text4</div>
    </div>
</div>


{% endblock %}