@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}



.modal1 {
       text-align: center;
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0, 0, 0);
       background-color: rgba(0, 0, 0, 0.4);
   }

   .modal2 {
       text-align: center;
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0, 0, 0);
       background-color: rgba(0, 0, 0, 0.4);
   }

   .modal3 {
       text-align: center;
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0, 0, 0);
       background-color: rgba(0, 0, 0, 0.4);
   }

   .modal4 {
       text-align: center;
       display: none;
       position: fixed;
       z-index: 1;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(0, 0, 0);
       background-color: rgba(0, 0, 0, 0.4);
   }


   .modal-content {
       text-align: center;
       background-color: #fefefe;
       margin: 15% auto;
       padding: 10px;
       border: 1px solid #888;
       height: 200px;
       width: 250px;
   }
   .close {
       color: #aaa;
       float: right;
       font-size: 18px;
       font-weight: bold;
   }
   .close:hover,
   .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
   }

   .mainpage-con1{
    width : 100% ;
    height : 100% ;
    text-align : center ;
    position : relative ;
    z-index : 1 ;
   }
   .mainpage-con1::after{
    width : 100% ;
    height : 100% ;
    content : "" ;
    background-image : url('https://raw.githubusercontent.com/solsolsol11/mytodo_img/master/cover1%20(1).jpg') ;
    background-size : cover ;
    position : absolute ;
    top : 0 ;
    left : 0 ;
    z-index : -1 ;
    opacity: 0.5 ;
   }
   .q-icon::hover > text-message{
    display : inline-block ;
   }

[type="checkbox"]{
  margin-top : 7px ;
  appearance : none ;
  width : 20px ;
  height : 20px ;
  box-sizing : border-box ;
  border : 1px solid #afafaf ;
  border-radius : 5px ;

}

[type="checkbox"]:focus{
  border: 2px solid black ;
  outline : 0 ;

}

[type="checkbox"]:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-color: rgb(16, 185, 129);
}

